a {
    text-decoration: none;
    color: blue;
}
.space {
    margin-right: 10px;
    color: blue;
    cursor: pointer;
}
.space.active {
    color: red;
}
.status {
    margin-right: 10px;
    color: blue;
    cursor: pointer;
}
.status.active {
    color: red;
}
.unassign {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
.unassign_all {
    margin-left: 10px;
    font-size: 90%;
    color: red;
    color: red;
    cursor: pointer;
}
