<!doctype html>
<html ng-app="dashboard">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
		<script type="text/javascript" src="/static/app.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<title>Dashboard</title>
	</head>
	<body ng-controller="DashboardCtrl">
        <div id="form" ng-hide="loaded">
            <div>Get your key/secret <a href="https://www.assembla.com/user/edit/manage_clients">here</a></div>
            <label for="key">Key: </label><input id="key" type="text" ng-model="key"/>
            <label for="secret">Secret: </label><input id="secret" type="text" ng-model="secret"/>
            <button ng-click="load()">Load</button>
            <div>{{ auth_error }}</div>
        </div>
		<button id="load_button" ng-click="load()" ng-show="loaded">Reload</button>
		<div id="space_list">
			Space:&nbsp;
			<span class="space"
			ng-click="currentSpace=null"
			ng-class="{active:allSpaces()}">All</span>
			<span class="space"
				ng-repeat="space in spaces"
				ng-class="{active:isCurrentSpace(space)}"
				ng-click="filterSpace(space)"
				ng-show="space.tickets.length"
				data-name="{{space.name}}">{{space.name}}</span>
		</div>
        <div id="status_list">
        	Status:&nbsp;
        	<span class="status"
                ng-click="currentStatus=null"
                ng-class="{active:allStatuses()}">All</span>
            <span class="status"
                ng-repeat="status in statuses"
                ng-class="{active:isCurrentStatus(status)}"
                ng-click="filterStatus(status)"
                data-name="{{status}}">{{status}}</span>
        </div>
        <div id="tickets">
        	<div class="space_div"
        		ng-repeat="space in spaces"
        		ng-show="spaceVisible(space)">
        		<h3>
        			{{space.name}}
        			<span class="unassign_all">Unassign All</span>
        		</h3>
        		<div class="ticket"
        			ng-repeat="ticket in space.tickets"
                    ng-show="statusVisible(ticket.status)">
        			<a class="ticket_link" href="{{ticket.href}}">
        				#{{ticket.number}}: {{ticket.summary}}
        			</a>
                    <div class="ticket_extras">
                        <span class="expand_desc"
                            ng-click="toggleDesc(ticket)"
                            ng-class="{active:ticket.desc_visible}"
                            ng-show="ticket.description.length"
                            title="Toggle Description"></span>
                        <p class="ticket_desc"
                            ng-show="ticket.desc_visible">{{ticket.description}}</p>
                        <span ng-hide="currentStatus">Status: <span class="ticket_status">{{ticket.status}}</span> |</span>
                        Hours Worked: <span class="worked_hours">{{ticket.total_working_hours}}</span> |
                        Hours Remaining: <span class="worked_hours">{{ticket.working_hours}}</span>
                        <span class="unassign">Unassign</span>
                    </div>
        		</div>
        	</div>
        </div>
	</body>
</html>